<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Public/css/utilisateur.css">
    <meta http-equiv="X-UA-Compatible" 

</head>
<body>
        <center><div class="div1"> 
                <div  class="div2">
               
                <a href="file:///var/www/html/GesticketSA/Views/listes-utilisateurs.html">Utilisateurs</a>
                <a href="file:///var/www/html/GesticketSA/Views/listes-sessions.html">Sessions</a>
            
                </div>
                <h1>Nouvel Utilisateur</h1>
                <form id="form" action="/action_page.php">
                  NOM:
                  <input style="margin-left:28px; margin-bottom: 15px;" type="text" name="NOM" value=""><br>
                  PRÈNOM:
              <input style="margin-bottom: -4px;" type="text" name="PRÈNOM" value=""><br><br>
              PROFILS:
              <input style="margin-left:5px; margin-bottom: -4px;" type="text" name="PROFILS" value=""><br><br>
              LOGIN:
              <input style="margin-left:22px; margin-bottom: -4px;"type="text" name="LOGIN" value=""><br><br>
              MOT DE PASSE:
              <input style="margin-right:35px; margin-bottom: -4px;" type="text" name="MOT DE PASSE" value=""><br><br>
              CONFIRMER MOT DE PASSE:
              <input style="margin-right:128px;" type="text" name="CONFIRMER MOT DE PASSE" value=""><br><br>
                  <button style= "float: left; margin-left: 90px; width: 90px; " >Annuler</button>
                  <button style= "float: right; margin-right: 90px; width: 90px; ">Valider</button>
                </form>
                <img src="../Public/img/logo.jpg" alt="logo">
                </center></div>

    
</body>
</html>